public/workflows/lead-enrichment.json
{
  "name": "Lead Enrichment Pipeline — TurtleTools",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "New Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "=https://api.apollo.io/api/v1/people/match?email={{ $json.body.email }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Api-Key", "value": "YOUR_APOLLO_KEY" }
          ]
        }
      },
      "id": "apollo-enrich",
      "name": "Apollo Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_OPENROUTER_KEY" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-sonnet-4-20250514\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a lead scoring expert. Given enriched lead data, score this lead 1-100 based on:\\n- Company size (larger = higher)\\n- Industry fit (tech/SaaS = higher)\\n- Seniority (C-suite/VP = higher)\\n- Company funding stage (funded = higher)\\n\\nReturn JSON with: score (number), reasoning (string), tier (hot/warm/cold), recommended_action (string)\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Score this lead:\\nEmail: {{ $json.body.email }}\\nEnrichment data: {{ JSON.stringify($node['Apollo Enrichment'].json) }}\"\n    }\n  ],\n  \"max_tokens\": 500,\n  \"response_format\": { \"type\": \"json_object\" }\n}"
      },
      "id": "ai-score",
      "name": "AI Lead Scoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "scored",
              "name": "lead",
              "value": "={{ JSON.parse($json.choices[0].message.content) }}",
              "type": "object"
            }
          ]
        }
      },
      "id": "parse-score",
      "name": "Parse Score",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [840, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.lead) }}"
      },
      "id": "respond",
      "name": "Return Score",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1040, 300]
    }
  ],
  "connections": {
    "New Lead Webhook": { "main": [[{ "node": "Apollo Enrichment", "type": "main", "index": 0 }]] },
    "Apollo Enrichment": { "main": [[{ "node": "AI Lead Scoring", "type": "main", "index": 0 }]] },
    "AI Lead Scoring": { "main": [[{ "node": "Parse Score", "type": "main", "index": 0 }]] },
    "Parse Score": { "main": [[{ "node": "Return Score", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateId": "turtletools-lead-enrichment", "instanceId": "turtletools" }
}
